<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCpoHUM_Ma5lHrhkP_s-Ip6W6d8YYwoYNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>428608858205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.govtBilling</string>
	<key>PROJECT_ID</key>
	<string>govt-billing-app</string>
	<key>STORAGE_BUCKET</key>
	<string>govt-billing-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428608858205:ios:4b4f73e80983b8398445b4</string>
</dict>
</plist>